<ion-view hide-nav-bar="true">
    <div class="bg-image-applogin">
        <img src="./img/logo.png" class="tc-logo-login" />
    </div>
    <ion-content scrollbar-x="false" scrollbar-y="false" scroll="false" class="no-header applogin">
        <form name="subs" ng-submit="save(subs)">
            <a class="button button-facebook" ng-click="vm.facebook()"><i class="ion-social-facebook"></i>Login with Facebook</a>
            <a class="button button-twitter" ng-click="vm.twitter()"><i class="ion-social-twitter"></i>Login with Twitter</a>
        </form>
    </ion-content>
</ion-view>