<ion-view view-title='<img src="./img/logo-header.png"/>'>
    <ion-content class="play-detail play profile">
        <div class="popup-header">
            <img src="./img/play/openQT.png" />{{vm.match.about}}<img src="./img/play/closeQT.png" />
        </div>
        <div class="imgContainer">
            <img ng-src="{{vm.match.user.image}}" ng-if="::vm.match.user.image!= '' && vm.match.user.image!= null" />
            <img ng-src="./img/profile/profile-blank.png" ng-if="::vm.match.user.image== '' || vm.match.user.image== null" />
        </div>
        <div>
            <div class="userName">
                {{vm.match.userCreate.first_name}} {{vm.match.userCreate.last_name}}
            </div>
            <div class="separator"></div>
            <div class="dateTime">
                <span>{{vm.match.date}} - {{vm.match.hour}}</span>
                <!--span>17.12.16 - 16:30</span-->
            </div>
        </div>
        <div class="group" style="justify-content: center;">
            <div class="item">
                <div class="clubName" ng-bind="vm.match.club_name"></div>
                <div class="separator"></div>
                <div class="address" ng-bind="vm.match.address.substr(0, 30)"></div>
            </div>
            <!--div class="item">
                <img class="mapImg" src="./img/match/mock-map.png" ng-click="vm.openMaps(match.address_lat, match.address_lng)" />
            </div-->
        </div>
        <div class="group" style="justify-content: center;">
          <div class="item">
            <img ng-src="./img/play/{{vm.match.type}}-btn.png" />
          </div>
        </div>
        <div class="row-form">
            <div style="display: flex;justify-content: space-around;margin-top:5px;">
              <div class="form-group">
                  <input type="text" class="form-control" name="inputGameLevel" id="inputGameLevel" ng-model="vm.match.game_level_from" disabled="true" />
                  <label for="inputGameLevel">Nivel de juego desde</label>
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" name="inputGameLevel" id="inputGameLevel" ng-model="vm.match.game_level_to" disabled="true" />
                  <label for="inputGameLevel">Nivel de juego hasta</label>
              </div>
            </div>
        </div>
        <div class="row-form">
            <div style="display: flex;justify-content: space-around;margin-top:5px;">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputAge" id="inputAge" ng-model="vm.match.years_from" disabled="true" />
                    <label for="inputAge">Edad Desde</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="inputAge" id="inputAge" ng-model="vm.match.years_to" disabled="true" />
                    <label for="inputAge">Edad Hasta</label>
                </div>
            </div>
            <div class="form-group" style="padding: 0 12px;margin-top:5px;">
                <input type="text" class="form-control" name="inputGender" id="inputGender" ng-model="vm.match.sexo" disabled="true" />
                <label for="inputGender">Sexo</label>
            </div>
        </div>
        <div class="group" style="justify-content: center;">
            <div class="item" style="text-transform: uppercase;text-align: center;">
                Mirá los jugadores <span>ya anotados</span>
            </div>
        </div>
        <div class="playerGrid">
            <div class="row" style="overflow-x: scroll;">
                <div class="col-xs-3 col-center-block" ng-repeat="player in vm.match.matchPlayer">
                    <div class="imgContainer">
                        <img ng-src="{{player.user.image}}" ng-if="::player.user.image!= '' && player.user.image!= null" />
                        <img ng-src="./img/profile/profile-blank.png" ng-if="::player.user.image== '' || player.user.image== null" />
                    </div>
                    <div class="userName">
                        {{player.user.first_name}}</br><span>{{player.user.last_name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <button ng-click="vm.play()" class="button button-block button-outline button-calm">
            Quiero Jugar
        </button>
    </ion-content>
</ion-view>
