<ion-view view-title='<img src="./img/logo-header.png"/>' hide-back-button="true">
    <ion-content class="profile matchDetail suggestedPlayers">
        <h1>Partido</h1>
        <div id="imageBox">
            <div class="leftBracket"></div>
            <div class="centerBracket">
                <div class="text" style="text-align: center;margin: auto;margin-top: 15px;font-size: 18px;color: #818184;font-family: Open Sans;">
                    Encontra un compañero/rival
                </div>
            </div>
            <div class="rightBracket"></div>
        </div>
        <div class="usersGrid container" style="text-align: center;">
          <div class="row" ng-show="vm.viewUsers.length" style="padding: 0;">
            <!--span ng-if="vm.isHereUsers">No encontramos ningún jugador con tus requisitos, debajo verás otros con requisitos similares.</span-->
            <div class="userBox col-xs-2" ng-repeat="user in vm.viewUsers" style="margin-top: 30px;width: 50%;">
                <div class="leftBracket"></div>
                <div class="centerBracket">
                    <div class="level-1">
                        <div class="imgContainer">
                            <img ng-if="!user.image || user.image ===''" src="./img/profile/profile-blank.png" style="width: 150px;height: 150px;">
                            <img ng-if="user.image && user.image !==''" ng-src="{{user.image}}" style="width: 150px;height: 150px;">
                        </div>
                    </div>
                    <div class="level-2">
                        <div class="userName" style="font-family: RobotoLight;font-size: 16px;font-weight: 700;max-width: 195px;color: #000;text-decoration: none;">
                            <a style="color: #00a5d7;text-decoration: none;">{{user.first_name}}</a>
                        </div>
                        <div class="userName" style="font-family: RobotoLight;font-size: 16px;font-weight: 700;max-width: 195px;color: #000;text-decoration: none;">
                            <a style="color: #000;text-decoration: none;">{{user.last_name}}</a>
                        </div>
                        <div style="width: 150px;background-color:rgba(204, 204, 208, 0.3);margin: 0 auto;margin-bottom:2px;" ng-if="user.game_level">
                          <span style="color: #00a5d7;">Nivel</span></br>
                          <span style="color: #818184;">{{user.game_level}}</span>
                        </div>
                        <div style="width: 150px;background-color:rgba(204, 204, 208, 0.3);margin: 0 auto;margin-bottom:2px;" ng-if="user.city">
                          <span style="color: #00a5d7;">Lugar</span></br>
                          <span style="color: #818184;">{{user.city}}</span>
                        </div>
                        <div style="display: flex;justify-content: space-around;padding: 16px;">
                          <span class="ion-ios-close-outline" style="font-size: 26px;" ng-click="vm.clearUser($index)" ng-disabled="vm.stopSave"></span>
                          <span class="ion-checkmark-round" style="font-size: 26px;" ng-click="vm.invite(user.id, $index)" ng-disabled="vm.stopSave"></span>
                        </div>
                        <!--button type="button" class="btn" ng-click="vm.invite(user.id)" ng-disabled="vm.stopSave">Invitar</button-->
                    </div>
                </div>
                <div class="rightBracket"></div>
            </div>
          </div>
          <div ng-show="vm.notMatch" class="info" style="text-align: center;margin-top: 50px;color: #20a3d4;font-family: Open Sans">
              <span>No encontramos ningún jugador con tus requisitos, ni con requisitos similares.</span>
          </div>
        </div>
    </ion-content>
</ion-view>
